{% extends "base.html.twig" %}

{% block title %}Rejestracja{% endblock %}

{%  block body %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-success" value="Zarejestruj się!"/>
    {{ form_end(form) }}
{% endblock %}