<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}"/>
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li><a href="{{ path('user_profile') }}">Profil</a></li>
                            <li><a href="{{ path('logout') }}">Wyloguj</a></li>
                        {% else %}
                            <li><a href="{{ path('register') }}">Zarejestruj się</a></li>
                            <li><a href="{{ path('login') }}">Zaloguj się</a></li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </nav>

        <div class="container" style="padding-top: 2em;">
            {% for message in app.flashes('notice') %}<div class="alert alert-notice" role="alert">{{ message }}</div>{% endfor %}
            {% for message in app.flashes('warning') %}<div class="alert alert-warning" role="alert">{{ message }}</div>{% endfor %}
            {% for message in app.flashes('error') %}<div class="alert alert-danger" role="alert">{{ message }}</div>{% endfor %}
            {% for message in app.flashes('success') %}<div class="alert alert-success" role="alert">{{ message }}</div>{% endfor %}
            <div style="height:3em"></div>
            {% block body %}{% endblock %}
            {% block javascripts %}
                <script src="{{ asset('build/app.js') }}"></script>
                <script src="{{ asset('build/registration.js') }}"></script>
            {% endblock %}
        </div>
    </body>
</html>
