{% extends "base.html.twig" %}

{% block title %} Pojawił się błąd: {{ status_text }}{% endblock %}
{% block body %}
    <div class="alert alert-danger" role="alert">
        <h3>Ups! Coś poszło nie tak :(</h3>
    </div>
    {% if status_code == 404 %}
        <h2>Strona o podanym adresie nie istnieje</h2>
    {% endif %}
{% endblock %}
