{% extends "base.html.twig" %}
{% block title %}Profil{% endblock %}
{% block body %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Profil użytkownika</h3>
        </div>
        <table class="table">
            <tr><td>Imię: {{ user.getFullname() }}</td></tr>
            <tr><td>Nazwisko: {{ user.getFullsurname() }}</td></tr>
            <tr><td>Data urodzenia: {{ birthdate }}</td></tr>
            <tr><td>Numer PESEL: {{ user.getPeselnumber() }}</td></tr>
            <tr><td>E-mail: {{ user.getEmail() }}</td></tr>
        </table>
    </div>
{% endblock %}